<div>

    <h1>List Movies</h1>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th></th>
                <th>Title</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="performance in performances">
                <td>
                    <a href="/movies/edit/{{performance.Id}}" class="btn btn-default btn-xs">edit</a>
                    <a href="/movies/delete/{{performance.Id}}" class="btn btn-danger btn-xs">delete</a>
                </td>
                <td>{{performance.Title}}</td>
                <td>{{performance.Details}}</td>
            </tr>
        </tbody>
    </table>

    <p>
        <a href="/movies/add" class="btn btn-primary">Add New Performance</a>
    </p>
</div>